@model EntityFramework.Black_Listed_Candidates

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Black_Listed_Candidates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant.Applicant_Gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Black_Listed_CandidatesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
